@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation a {
    display: inline-block;
    position: relative;
}

.hover-underline-animation a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #bb9080;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation a:hover {
    color: #bb9080;
}

.hover-underline-animation a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.box {
    width: 1280px;
}
